language: android
jdk: oraclejdk8

android:
  components:
    # Update Android SDK Tools
    - tools

    - build-tools-25.0.0
    - android-25

    # Support library
    - extra-android-support
    - extra-android-m2repository

    script:
    - chmod +x ./gradlew