language: android
android:
  components:
    - tools
    - build-tools-25.0.0
    - android-25
    - platform-tools
    - extra-android-support # because I'm use support library
    - extra-android-m2repository # because I'm use support library
  licenses:
    - '.+'

sudo: required

jdk:
  - oraclejdk8

install: true

before_install:
 - chmod +x gradlew

before_script:
  - chmod +x gradlew

script: "./gradlew build"


deploy:
  provider: releases
  file: "app/build/outputs/apk/app-debug.apk"
  skip_cleanup: true
  on:
    tags: true
    all_branches: true